# Data Types and Structures Questions

#    1. What are data structures, and why are they important?
 ans. data structure is a way, where we can store data, and organize the data in a proper way, so that we can manipulation the data.its impotant because it help us to improve the code.

# Q.2.  Explain the difference between mutable and immutable data types with examples?

 ANS. The programming language mutable data type can be change & modifie the code after cration.while immutable data types cannot be changed once created the code.

# Q.3 What are the main differences between lists and tuples in Python?

ANS. The Python language list is mutable and tuples is immutable.so that case in list element can be change & in tuples case cannot be change elements.

# Q.4. Describe how dictionaries store data?

ANS.  Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

# Q.5  What is a string in Python, and how is it different from a list?

ANS.  The python language a string is a sequence of characters, such as letters, numbers, symbols, or whitespace, represented as a single unit.


# how is it different from a list.
  
  *   In python list is an ordered collection of items, where each item can be of any data type umbers, strings, other lists. list is mutable. it is add, remove, or modify items after the list is created.Lists are created using square brackets [] with items separated by commas,.

# Q.6  How do tuples ensure data integrity in Python?

ANS. Tuples are immutable to ensure that their contents remain constant throughout their lifecycle

# Q.7  Can lists contain different data types in Python?

ANS.  yes it can for an e.g> ncluding strings, floats, and booleans

# Q.8. What is a hash table, and how does it relate to dictionaries in Python?

ANS.A hash table is a data structure that stores key-value pairs.
It uses a hash function to determine the storage location (index) of a key within an array (or"buckets").this allows for efficient (average O(1) time complexity) retrieval, insertion, and deletion of data.

# how does it relate to dictionaries in Python?

Python dictionaries are implemented using hash tables.
When you create a dictionary, Python uses a hash function to map the keys to indices within an internal array (or "buckets").
This allows you to access values in a dictionary very quickly, based on their keys.

# Q.9. Can lists contain different data types in Python?
 ANS. The list also contain a mix of Python types including strings, floats, and booleans.

# Q.10.Explain why strings are immutable in Python.

ANS. The stirngs are immutable objects cannot change their value, Python can optimize memory usage.

# Q.11. What advantages do dictionaries offer over lists for certain tasks?
  ANS. Dictionaries are faster than lists for certain tasks like data retrieval and lookups. Dictionaries are also easier to read when generating key-value pairs.

# Q.12.Describe a scenario where using a tuple would be preferable over a list?
ANS. in python language list is mutable we can change, add , remove the elements.list are more flexible & have more built in methods. tuple is immutable where the elements cannot be change after creation.

# Q.13.How do sets handle duplicate values in Python.
ANS.Python sets cannot have duplicate values.

Q.14. How does the “in” keyword work differently for lists and dictionaries?

Q.15.Can you modify the elements of a tuple? Explain why or why not?

# Q.16 What is a nested dictionary, and give an example of its use case?
ANS. A nested dictionary is a dictionary where the values are themselves dictionaries, allowing for hierarchical data organization. A use case is representing an organizational chart, where departments are keys and their employees (as dictionaries) are the values.

In [2]:
# Nested dictionary representing an organizational chart
company_org_chart = {
    "IOT": {
        "ID234": "BHIM VISHAL"
    },
    "ENGINEER": {
        "ID123": "AJAY",
        "ID122": "PARSHANT"
    },
    "PROJECT": {
        "ID303": " PRIYA",
        "ID321": "THAMANA"
    }
}

# Q.17.Describe the time complexity of accessing elements in a dictionary?
ANS. The time complexity of Accessing elements in a dictionary or, hash, map typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size, due to its hash table implementation.

# Q.18 In what situations are lists preferred over dictionaries?
ANS. list preferred quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

# Q.19.Why are dictionaries considered unordered, and how does that affect data retrieval?
ANS. The Dictionaries are unordered because they store data as key-value pairs, and the order of these pairs is not inherently maintained, meaning you can't access elements by their position. This affects data retrieval as you must access values using their keys, rather than relying on an index or position.

# Q.20.Explain the difference between a list and a dictionary in terms of data retrieval.

# ANS. LIST

1.Data Structure is Ordered collection of items.
2.Access By numerical index (position).
3.Time Complexity Linear search (O(n)).

# Dictionary
1.Unordered collection of key-value pairs in data structure.
2.unique key access in dictionary.
3.Average-case constant search (O(1))in time complexity.

## Practical Questions

In [3]:
#Q.1. Write a code to create a string with your name and print it.

a =("BHIM VISHAL")
print(a)

BHIM VISHAL

In [6]:
#Q.2.Write a code to find the length of the string "Hello World".
a = "vishal,bhim!"
print(len(a))

12

In [11]:
#.Q.3.Write a code to slice the first 3 characters from the string "Python Programming"?


a=("BHIM VISHAL")
a=a[0:3]
print(a)

BHI

In [13]:
#Q.4.Write a code to convert the string "hello" to uppercase.

a=("BHIM")
a.upper()

'BHIM'

In [14]:
#.Q.5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
a=("i like apple")
a.replace("apple","orange")

'i like orange'

In [15]:
#Q.6.Write a code to create a list with numbers 1 to 5 and print it.
a=["1","2","3","4","5"]
type(a)

list

In [16]:
#.Q.7.Write a code to append the number 10 to the list [1, 2, 3, 4].
a=[1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [18]:
#Q.8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a=[1,2,3,4,5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [19]:
#Q.9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']P
a=["a","b","c","d"]
a[1]

'b'

In [20]:
#Q.10.Write a code to reverse the list [10, 20, 30, 40, 50].
a=[10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [21]:
#Q.11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
a=(100,200,300)
type(a)
print(a)

(100, 200, 300)

In [22]:
#Q.12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
a=("red","green","blue","yellow")
a[1:]

('green', 'blue', 'yellow')

In [23]:
#Q.13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a=(10,20,5,15)
min(a)

5

In [1]:
#  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a=("dog","cat","rabbit")
index=a.index("cat")
print(index)

1

In [2]:

#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a=("apple","mango","banana","kiwi")
if "kiwi" in a:
  print("kiwi found")
else:
  print("kiwi not found")

kiwi found

In [3]:


#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a={"a","b","c"}
type(a)
print(a)

{'c', 'b', 'a'}

In [4]:

#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

a={1,2,3,4,5}
a.clear()
print(a)

set()

In [5]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

a={1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [6]:

#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a={1,2,3}
b={3,4,5}
a.union(b)

{1, 2, 3, 4, 5}

In [7]:

#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a={1,2,3}
b={2,3,4}
a.intersection(b)

{2, 3}

In [8]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a={"name":"avi","age":20,"city":"kolkata"}
type(a)
print(a)

{'name': 'avi', 'age': 20, 'city': 'kolkata'}

In [9]:

#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
a={"name":"jhon","age":"25"}
a["country"]="USA"
print(a)

{'name': 'jhon', 'age': '25', 'country': 'USA'}

In [10]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
a={"name":"alice","age":"30"}
a["name"]

'alice'

In [11]:

 #24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
 a={"name":"bob","age":"22","city":"new york"}
 a.pop("age")
 print(a)

{'name': 'bob', 'city': 'new york'}

In [12]:

#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a={"name":"alice","city":"paris"}
if "city" in a:
  print("yes")
else:
  print("not found")

yes

In [13]:

#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
a=["apple","mango","kiwi"]
b=("honda","hero","ktm")
c={"india","nepal","usa"}
print(a,b,c)

['apple', 'mango', 'kiwi'] ('honda', 'hero', 'ktm') {'nepal', 'india', 'usa'}

In [24]:

#28. Write a code to create a list with strings and print the element at the third index.
a = ["ram","sita","hanuman","bhim"]

for eliments in a:
  print(eliments)

ram
sita
hanuman
bhim

In [27]:


#29. Write a code to combine two dictionaries into one and print the result.
a={"india","himachal","chandigarh"}
b={"dehli","punjab","jammu"}
a.update(b)
print(a)

{'dehli', 'himachal', 'chandigarh', 'jammu', 'punjab', 'india'}

In [30]:
#30. Write a code to convert a list of strings into a set.
a=["bhim","akshay","sharma ji"]
b=set(a)
print(b)

{'sharma ji', 'bhim', 'akshay'}